.canvas {
  float: left;
}

.controls {
  float: left;
}

.numberBox {
  width: 5em;
}

.chart {
  width: 500px;
  height: 500px;
}

nav {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: none;
  border-left: none;
}

nav ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
}

nav ul li:first-child {
  border-left: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #444;
  padding: 0.8em 1em;
}

nav ul li:hover {
  background-color: #ccc;
}
